

.register_area {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    max-width: 1280px;
    width: 100%;
 
}


.register_area input {
    width: 100%;
    padding: 10px;
    margin: 12px;
    border: 0;
    outline: none;
    background-color: #f1e9e7;
}



fieldset {
    width: 85%;
    text-align: left;
    margin-left: 1.5rem;
    border: 0;
    /* border: 1px solid #bab3b3; */
}

legend {
    text-align: left;
    margin-left: 15px;
}


.btn_register {
    color: rgb(243, 244, 243);
    font-size: 14px;
    background-color: #437cee;
    padding: 10px;
}

.Icon_link_image {
    font-size: 20px;
    color: #172e44;
    cursor: pointer;
}



.btn_register {
    color: rgb(243, 244, 243);
    font-size: 14px;
    background-color: #437cee;
    padding: 10px;
} 



input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #ca1d1d;
}

.register_area button {
    border: 0;
    border-radius: 4px;
    padding: 9px 16px;
    margin-right: 10px;
    margin-left: 25px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    width: 200px;
}

.register_area button:disabled {
    opacity: 1;
    cursor: not-allowed;
    background-color: #437cee6a;

}

