.main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 10px;
}

.list_products {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    font-size: 25px;
    margin-left: 150px;
}

.Icon_data_base {
    color: #1d6f0b;
    font-size: 50px;
}

.wrapper_item_create_form_item_update_form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 7px;
    margin-top: -10px;
}

.pagination_prev_next {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background-color: red; */
}

.area_buttons_pagination_prev_next {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    max-width: 1280px;
    width: 100%;
}
.area_buttons_pagination_prev_next  button{
    background-color: rgb(175, 175, 175);
    /* background-color: #1d6f0b; */
    border: 0;
    outline: none;
    cursor: pointer;
    padding:3px;
    width: 60px;
    
}

.icons{
    font-size: 25px;
    color: rgb(212, 208, 208);
}